git+https://github.com/hangoutsbot/hangups.git
appdirs
asyncio
feedparser
jsonrpclib-pelix
pushbullet.py
beautifulsoup4
requests
goslate
wikipedia
wolframalpha
git+https://github.com/loisaidasam/pyslack.git
git+https://github.com/carpedm20/emoji
selenium
